@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="jumbotron">
     <h1>Admin Page</h1>
@*      <p>...</p>
     <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> *@
 </div>


<ul class="list-group">
    <li class="list-group-item list-group-item-action"><a asp-action="Employers" class="btn btn-primary">👨 Manage Employers Accounts</a></li>
    <li class="list-group-item list-group-item-action"><a asp-action="JobSeekers" class="btn btn-primary">👦 Manage Job Seekers Accounts</a></li>
    <li class="list-group-item list-group-item-action"><a asp-action="JobListings" class="btn btn-primary">🔍 Review Job Listings</a></li>
    <li class="list-group-item list-group-item-action"><a asp-action="RegisterUser" class="btn btn-primary">👥 Register User</a></li>
</ul>
